{% extends "base.html" %}
{% block title %}Accounts Table{% endblock title %}
    {% block content %}
    <main>
        <h1>My Accounts</h1>
        <p><a href="{% url 'create_account' %}">Create</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{account.name}}<td>
                    <td>{{account.number}}<td>
                    <td>{{account.receipts.all|length}}<td>
                    {% comment %} <td>{{account.number}}<td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock content %}
