{% extends "base.html" %}
{% block title %}Expense Category Table{% endblock title %}
    {% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <p><a href="{% url 'create_category' %}">Create</a></p>
        {% comment %} <p><a href="{% url 'create_receipt' %}">Create</a></p> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{expense.name}}<td>
                    <td>{{expense.receipts.all|length}}<td>
                    {% comment %} <td>{{account.number}}<td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock content %}
